@keyframes logo-move-up-anim {
    from {
        transform: translateY(300px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes show-up-anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes disappear-anim {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes highlight-anim {
    from {
        font-size: 24px;
    }
    to {
        font-size: 28px;
    }
}

@keyframes caret-blinking-anim {
    0%, 100% {
        border-color: transparent;
      }
      50% {
        border-color: black; /* 테두리의 색상을 변경할 수 있습니다. */
      }
  }

@keyframes available-to-upload-anim {
    from {
        color: gray;
    }
    to {
        color: black;
    }
}

@keyframes not-available-to-upload-anim {
    from {
        color: black;
    }
    to {
        color: gray;
    }
}

@keyframes logo-over-anim {
    from {
        font-size: 10vh;
    }
    to {
        font-size: 12vh; /* 10rem / 6rem */
    }
}

@keyframes logo-out-anim {
    from {
        transform: scale(1.67);
    }
    to {
        transform: scale(1);
    }
}

.logo-over {
    animation: logo-over-anim 0.5s ease;
    animation-fill-mode: forwards;
}

.logo-out {
    animation: logo-out-anim 0.5s ease;
    animation-fill-mode: forwards;
}

.available-to-upload {
    animation: available-to-upload-anim 0.5s ease;
    animation-fill-mode: forwards;
}

.not-available-to-upload {
    animation: not-available-to-upload-anim 0.5s ease;
    animation-fill-mode: forwards;
}

.logo-move-up {
    animation: logo-move-up-anim 1s ease;
    animation-fill-mode: forwards;
    animation-delay: 1.6s;
}

.login-show-up {
    animation: show-up-anim 1s ease;
    animation-fill-mode: forwards;
    animation-delay: 1.4s;
    z-index: 30;
}

.login-done {
    animation: disappear-anim 1s ease;
    animation-fill-mode: forwards;
    z-index: 1;
}

.textarea-show-up {
    animation: show-up-anim 2s ease;
    animation-fill-mode: forwards;
    z-index: 30;
}

.line-highlight {
    animation: highlight-anim 0.3s ease;
    animation-fill-mode: forwards;
}

.caret-blinking {
    animation: caret-blinking-anim 0.935s infinite;
}

