@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'glamorous';
  src: url('./assets/font/glamorous.otf');
}

@font-face {
  font-family: 'nasa';
  src: url('./assets/font/nasa.otf');
}

@font-face {
  font-family: 'lemon-r';
  src: url('./assets/font/lemonMilk-r.otf');
}

@font-face {
  font-family: 'cool';
  src: url('./assets/font/cool.otf');
}

:root {
  --foreground-rgb: #FFF;
  --background-start-rgb: #FFF;
  --background-end-rgb: #FFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #FFF;
    --background-start-rgb: #FFF;
    --background-end-rgb: #FFF;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
